
<div class="console-widget-main">
    <div class="console-widget-main-bar">
        <button pButton icon="pi pi-test" (click)="testOutput()" >TEST</button>
    </div>
    <div class="console-widget-main-terminal">
        <!-- <div id="xterm-container"></div> -->
        
        <p-terminal #terminal welcomeMessage="Welcome to TALight Desktop" prompt="talight$&nbsp;"></p-terminal>
        
    </div>
    <div class="console-widget-main-output">
        <!-- <div id="xterm-container"></div> -->
        <div>Output<div>
        <pre #output></pre>
        
    </div>
</div>