<div class="console-widget-main">
  <div class="console-widget-bar">
    <p-dropdown class="console-widget-problem-selector" [options]="problems" [(ngModel)]="selectedName"
      (onChange)="didSelectProblem()" optionLabel="label" optionValue="value" placeholder="Seleziona un problema">
    </p-dropdown>
    <button pButton class="p-button-help" icon="pi pi-download" (click)="apiDownloadAttachment()"
      title="Download Attachments" pTooltip="Scarica allegati"></button>
  </div>


  <p-splitter class="console-widget-splitter" [style]="{'width': '100%'}" layout="vertical" [panelSizes]="[1,1]"
    [minSizes]="[0,0]">


    <ng-template pTemplate>
      <div class="console-widget-terminal">

        <!-- <div id="xterm-container"></div> -->
        <div class="console-widget-label">Terminal</div>
        <div class="console-widget-terminal-scroll">
          <p-terminal class="console-widget-terminal-shell" #terminal welcomeMessage="Welcome to TALight Desktop"
            prompt="talight$&nbsp;"></p-terminal>
        </div>
      </div>
    </ng-template>


    <ng-template pTemplate>
      <div class="console-widget-output">
        <!-- <div id="xterm-container"></div> -->
        <div class="console-widget-label">Output</div>
        <div class="console-widget-output-scroll" id="console-bottom-scroll">
          <pre class="console-widget-output-text" #output>{{outputText}}</pre>
        </div>
        <div class="console-widget-output-stdin">
          <button pButton class="p-button-danger" icon="pi pi-refresh" (click)="clearOutput()" title="Clear output"
            pTooltip="Pulisci output"></button>
          <input #sdtinInput class="console-widget-output-stdin-input" (keydown)="sendOnEnter($event)"
            placeholder="Input del programma" />
          <button pButton icon="pi pi-send" (click)="sendStdin()" title="Send" pTooltip="Invia"></button>
        </div>
      </div>
    </ng-template>

  </p-splitter>

</div>
