

:host{
    width:100%;
    height:100%;

    
}



.console-widget-main{
    display: flex;
    flex-direction: column;
    height:100%;

    .console-widget-api{
        display: flex;
        flex-direction: column;
        height:100%;

        .console-widget-api-problem{
            display: flex;
            flex-direction: row;
            border-bottom: darkgray 1 px solid;
        }

        .console-widget-api-args-row{
            display: flex;
            //background-color: aquamarine;
            margin: 5px;
            flex-direction: column;
        }

        .console-widget-api-args-row-title{
            display: flex;
            font-weight: bold;
        }

        .console-widget-api-args-row.stretch-flex{
            flex-grow: 1;
            justify-content: center;
            justify-items: center;
        }

        .console-widget-api-args-row-no-params{
            flex-grow: 1;
            height: 100%;
            display: flex;
            justify-content: center; // left-right
            align-items: center; //top-bottom
            border: 1px solid #444;
        }

        .console-widget-api-args{
            display: flex;
            flex-direction: column;
            width: 100%;
            
            .console-widget-api-args-row{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 30px;
                padding: 5px;
                border-bottom: 1px solid #333;
            }

            .console-widget-api-args-row:last-child{
                border: 0px;
            }

            .console-widget-api-args-row-info{
                display: flex;
                width: 20px;
                padding: 5px;
            }

            .console-widget-api-args-row-name{
                display: flex;
                flex-grow: 1;
                width: 10em;
                padding-left: 5px;
            }

            .console-widget-api-args-row-field{
                display: flex;
                flex-grow: 3;
                padding: 5px;
                input{
                    width: 100%
                }
                
            }

            .console-widget-api-args-row-actions{
                display: flex;
                padding: 5px;
            }

            .console-widget-api-args-row{
                //background-color: darkred;
                display: flex;
                flex-direction: row;

                button{
                    width: 20px;
                    height: 20px;
                }
            }
            
        }



        .console-widget-api-problem{
            height: 60px;
            align-items: center;
            padding: 5px;

            button{
                width: 53px;
                min-width: 53px;
                height: 53px;
                min-height: 53px;
            }
            .console-widget-problem-selector {
                flex-grow: 2;
                display: flex;
                align-items: center;
                height: 63px;
                padding: 0px 5px 0px 5px;
            }
        }
    }

    
}


.console-widget-problem-selected, .console-widget-problem-item{
    .problem-label{
        font-weight: bold;
        text-transform: capitalize;   
        padding: 1px 10px 1px 10px;        
        background-color: #555;
        border-radius: 20px;
    }
    .service-label{
        padding-left: 3px;
    }
}
    

.console-widget-output-stdin-input{
    flex-grow: 2;
}



.console-widget-terminal, .console-widget-output{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;  
}

.console-widget-label{
    padding:0.5rem;
    font-weight:600;
}

.console-widget-terminal-scroll, .console-widget-output-scroll{
    overflow-y: auto;
    flex-wrap: wrap;
    flex-grow: 2;
    display: flex;
    margin-bottom: auto;
    padding:0.5rem;
}

p-terminal.console-widget-terminal-shell, pre.console-widget-output-text{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

pre.console-widget-output-text{
    border:solid 1px rgba(255, 255, 255, 0.12);
    padding:1rem;
}


.console-widget-output-stdin{
    //background-color: red;
    padding:5px;
    display: flex;
    flex-direction: row;

    input{
        margin:0 0.5rem;
        padding:0 0.5rem;
    }
}


button{
    border-radius: 5px;
}
