//@import 'xterm/css/xterm.css';

:host{
    width:100%;
    height:100%;
}

.console-widget-main{
    display: flex;
    flex-direction: column;
    height:100%;
}

.console-widget-bar{
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: red;
}

.console-widget-problem-selector{
    width:100%;
    height: 30px;
}

.console-widget-bar button{
    padding: 5px;
    border-radius: 5px;
    width: 50px;
    height:50px;
    //background-color: red;
}


.console-widget-terminal, .console-widget-output{
    width:100%;
    height:100%;
    flex-direction: column;  
}

.console-widget-label{
    flex-grow: 1;
    display: flex;
    background-color: green;
}

.console-widget-terminal-scroll, .console-widget-output-scroll{
    background-color: blue;
    overflow-y: scroll;
    flex-wrap: wrap;
    flex-grow: 2;
    display: flex;
    margin-bottom: auto;
}

.console-widget-terminal-shell, .console-widget-output-text{
    background-color: magenta !important;
    display: flex;
    width: 100%;
    height: 100%;
    
    flex-direction: column;
}



.console-widget-output-stdin{
    background-color: red;
    
    flex-grow: 1;
}