@import '../blur.scss';


.blur{
  @extend .blur;
}

:host{
    width:100%;
    height:100%;

    
}

.container {
    position: relative;
    width: 100%; /* Imposta la larghezza del contenitore */
    height: 100%; /* Imposta l'altezza del contenitore */
}

/*
:host ::ng-deep .dark-panel.p-terminal {
    
    height: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    line-height: 1.2;
    border-color: black;
    background: black;
    color:rgb(74, 229, 198);

    .p-terminal-welcomeMessage {
        background: #212121;
    }

    .p-terminal-response {
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
        color:rgb(197, 134, 192);
        padding-bottom: 10px;
    }

    .p-terminal-response::before {
        content: "(server) ";
        //font-weight:600;
    }

    .p-terminal-input{
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
    }

    .p-terminal-content{
        padding-top: 20px;
    }
    

    /*
    .p-terminal-prompt {
        font-weight:600;
    }
}
*/


/*
.p-tabview-panels .p-tabpanel {
    height: 100%;  Imposta l'altezza del tab panel al 100% dell'altezza del contenitore
    overflow: scroll;
    background-color: aquamarine;
}
*/

.tal-output-widget{
    display: flex;
    flex-direction: column;
    height:100%;   
    width:100%;
    max-width: 100%;

    ///////
    //position: relative;
    //width: 300px;
    //height: 200px;
    //border: 1px solid #ff0000;
    ///////

    ::ng-deep{
        .p-scrollpanel-wrapper, .p-scrollpanel-content, .tal-output-widget-pscroll{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: unset;
            word-wrap: break-word;
            flex-wrap: wrap;
            overflow-x: hidden;
            position: relative;
            //overflow-y: scroll;
        }
    }

    .tal-output-widget-row{
        display: flex;
        padding: 5px;
        

    }

    .tal-output-widget-title{
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .tal-output-widget-row-icon{
        display: flex;
        font-size: 1.2rem;
        
        padding:5px;
    }

    .tal-output-widget-row-label{
        display: flex;
        padding:5px;
        font-weight:600;
    }
    
    .tal-output-widget-row-scroll{
        flex-grow: 2;
        display: flex;
        //overflow: auto;
    }

    .tal-output-widget-row-stdin{
        position: relative;
        bottom: 0;
        //width: 95%; /* Ad esempio, l'elemento avrà la metà della larghezza del contenitore */
        //height: 50%; /* Ad esempio, l'elemento avrà la metà dell'altezza del contenitore */
    }
    
    .tal-output-widget-scroll{
        width: 100%;
        height: 100%;
        display: flex;
    }

    .tal-output-widget-inner-row-stdin{
        background-color: rgba($color: green, $alpha: 0.1);
    }
    .tal-output-widget-inner-row-stdinapi{
        background-color: rgba($color: lime, $alpha: 0.1);
    }
    .tal-output-widget-inner-row-stdout{
        background-color: rgba($color: deepskyblue, $alpha: 0.1);
    }
    .tal-output-widget-inner-row-stderr{
        background-color: rgba($color: red, $alpha: 0.1);
    }
    .tal-output-widget-inner-row-system{
        background-color: rgba($color: white, $alpha: 0.1);
    }

    .tal-output-widget-inner-row{ //PRE
        padding: 5px;
        display: flex;
        flex-direction: row;


        .tal-output-widget-icon{
            width: 24px;
            min-width: 24px;
            max-width: 24px;
        }

        .tal-output-widget-text{
            box-sizing:border-box;
            
            word-wrap: break-word;
            overflow-wrap: break-word;
            flex-wrap: wrap;
        }
    }


    .tal-output-widget-stdin{
        //background-color: red;
        display: flex;
        flex-direction: row;
    
        input{
            margin:0 5px;
            padding:0 5px;
        }
    }
    
    .tal-output-widget-stdin-input{
        flex-grow: 2;
        margin: 0px 5px;
        padding: 0px 5px;
    }

    /*.tal-output-widget-stdin-input:disabled{
        //background-color: darkgray;
    }

    .tal-output-widget-stdin-input:disabled, .tal-output-widget-stdin-button:disabled{
        //background-color: darkgray;
    }*/
    
    .tal-output-widget-text{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        unicode-bidi: embed;
        font-family: monospace;
        //white-space: pre;
        //border:solid 1px rgba(255, 255, 255, 0.12);
    }



    

}

    





