
<div class="tal-output-widget">
    <div class="tal-output-widget-row tal-output-widget-title">
        <div class="tal-output-widget-row-label">Output</div>
        <div class="tal-output-widget-row-icon">
            <i #pyodideIcon class="pi {{pyodideStateIcon}}" [pTooltip]="pyodideStateTooltip" [style]="'font-size:100%; color:' + pyodideStateColor"></i>
        </div>
    </div>

  <div class="tal-output-widget-row tal-output-widget-row-scroll">
      <p-scrollPanel class="tal-output-widget-pscroll" id="tal-output-widget-scroll-id">
          <div class="tal-output-widget-inner-row tal-output-widget-inner-row-{{line.type}}" *ngFor="let line of outputLines">
              <div class="tal-output-widget-icon">
                  <i class="pi {{iconForType(line)}}"></i>
              </div>
              <div class="tal-output-widget-text">{{line.content}}</div>
          </div>
      </p-scrollPanel>
  </div>

  <div class="tal-output-widget-row tal-output-widget-row-stdin">
      <button pButton class="p-button-danger tal-square-button" icon="pi pi-trash" (click)="clearOutput()" title="Clear output"
        pTooltip="Pulisci output"></button>
      <input pInput #sdtinInput 
             class="tal-output-widget-stdin-input" 
             (focus)="focusStdin()"
             (blur)="blurStdin()"
             (keydown)="sendOnEnter($event)"
             placeholder="Input del programma" />
      <button pButton #sdtinButton icon="pi pi-send" class="tal-output-widget-stdin-button  tal-square-button" (click)="sendStdin()" title="Send" pTooltip="Invia"></button>
  </div>

</div>

