<div class="tal-editor-files-tree" [class.blur]="isBlurred">
  <div class="tal-editor-files-header">
    <div class="tal-editor-files-left-bar">
      <button pButton icon="pi pi-folder" class="tal-square-button"
        (click)="closeAllContextMenus($event); addNewItem(fsroot, 'folder')" pTooltip="New folder"></button>
      <button pButton icon="pi pi-file" class="tal-square-button"
        (click)="closeAllContextMenus($event); addNewItem(fsroot, 'file')" pTooltip="New file"></button>
    </div>
    <div class="tal-editor-files-right-bar">
      <button pButton icon="pi pi-sync" class="tal-square-button" (click)="closeAllContextMenus($event); syncFilesystem(fsroot)"
        pTooltip="Refresh"></button>
    </div>
  </div>


  <div class="tal-editor-files-body">
    <ng-container *ngTemplateOutlet="TalFolder; context: { $implicit: fsroot }"></ng-container>
  </div>

  <p-dialog header="Choose or create a repository.." [(visible)]="exportVisible" [style]="{ width: '50vw' }">

    <label htmlFor="exportRepoList" style="margin-top: 20px; font-weight: bold;" >Repository list:</label>
    <div class="flex flex-column gap-2" style="margin-top: 10px;">
        <p-dropdown id="exportRepoList" appendTo="body" (onChange)="enableButton('export')" [disabled]="exportDropDisabled" [options]="reposList" [(ngModel)]="selectedRepo" placeholder="Select a repository" optionLabel="full_name"></p-dropdown>
    </div>


    <div class="flex flex-column gap-2">
      <label htmlFor="repoName" style="margin-top: 20px; font-weight: bold;">Repository name:</label>
      <tr>
        <td><input pInputText [(ngModel)]="newRepoOwner" [style]="{ width: '22vw' }" disabled /></td>
        <td><p style="font-size: xx-large;"> / </p></td>
        <td><input pInputText id="repoName" (input)="detectInput()" [style]="{ width: '23vw' }" [(ngModel)]="newRepoName" /></td>
        <small id="repoName-help">{{repoNameHelp}}</small>
      </tr>

    </div>

    <ng-template pTemplate="footer">
      <p-button id="exportRepoButton" [disabled]="exportButtonRepoDisabled" icon="pi pi-check" (onClick)="uploadFiles()" label="Ok" ></p-button>
    </ng-template>

  </p-dialog>

  <p-dialog header="Choose a repository.." [(visible)]="importVisible" [style]="{ width: '30vw' }">

    <label htmlFor="importRepoList" style="margin-top: 20px; font-weight: bold;" >Repository list:</label>
    <div class="flex flex-column gap-2" style="margin-top: 10px;">
        <p-dropdown id="importRepoList" appendTo="body" (onChange)="enableButton('import')" [disabled]="importDropDisabled" [options]="reposList" [(ngModel)]="selectedRepo" placeholder="Select a repository" optionLabel="full_name"></p-dropdown>
    </div>

    <ng-template pTemplate="footer">
      <p-button id="importRepoButton" [disabled]="importButtonRepoDisabled" icon="pi pi-check" (onClick)="importGithubClick($event)" label="Ok" ></p-button>
    </ng-template>

  </p-dialog>


  <div class="tal-editor-files-footer">
    <div class="tal-editor-files-left-bar">
      <button pButton class="p-button-secondary tal-square-button" icon="pi pi-save"
      (click)="menuExport.toggle($event)" pTooltip="Save/Export"></button>

      <asl-google-signin-button id="g_upload" class="gbtn"></asl-google-signin-button>
      <p-tieredMenu #menuExport [model]="ExportItems" [popup]="true"></p-tieredMenu>

      <button pButton class="p-button-secondary tal-square-button" icon="pi pi-upload"
      (click)="menuImport.toggle($event)" pTooltip="Upload/Import"></button>
      <input id="fileUpload" #fileUpload type="file" style="display: none;" (change)="upload($event)"/>

      <p-tieredMenu #menuImport [model]="ImportItems" [popup]="true"></p-tieredMenu>
    </div>


    <div class="tal-editor-files-right-bar">

      <button pButton icon="pi pi-eye" class="tal-square-button" *ngIf="showHidden"
        (click)="closeAllContextMenus($event); toggleHidden()" pTooltip="Hide hidden files"></button>

      <button pButton icon="pi pi-eye-slash" class="tal-square-button" *ngIf="!showHidden"
        (click)="closeAllContextMenus($event); toggleHidden()" pTooltip="Show hidden files"></button>

      <button pButton icon="pi pi-cog" class="tal-square-button"
        (click)="closeAllContextMenus($event); openSettings()" pTooltip="Settings"></button>

    </div>


  </div>

<p-toast position="top-left" key="tl"></p-toast>

</div>

<ng-template #TalFolder let-folder>
  <div class="tal-folder">
    <ng-container *ngFor="let subfolder of folder.folders">
      <div *ngIf="isVisibile(subfolder)" class="tal-folder-subtree">
        <div class="tal-folder-row" (contextmenu)="closeAllContextMenus($event); folderOverlayPanel.show($event)" [class.opened]="subfolder===selectedFolder">
          <div class="tal-folder-title collapse-toggle" (click)="closeAllContextMenus($event); selectFolder(subfolder)"
            (dblclick)="closeAllContextMenus($event); startEditing(folder, subfolder)">
            <i class="pi pi-chevron-down"></i>
            <ng-container *ngIf="editingItem!=subfolder;else ItemEditingTemplate">
              <i class="pi pi-folder"></i>
              <p>{{subfolder.name}}</p>
            </ng-container>
          </div>
          <div class="tal-row-settings" *ngIf="editingItem!=subfolder">
            <div class="tal-row-button" (click)="folderOverlayPanel.show($event)">
              <i class="pi pi-ellipsis-h"></i>
            </div>
          </div>

          <p-overlayPanel #folderOverlayPanel>
            <ng-template pTemplate>
              <div class="tal-contextmenu-container">
                <div class="tal-contextmenu-item" (click)="closeAllContextMenus($event); addNewItem(subfolder, 'file')">
                  <i class="pi pi-plus"></i>
                  <p>New file</p>
                </div>
                <div class="tal-contextmenu-item"
                  (click)="closeAllContextMenus($event); addNewItem(subfolder, 'folder')">
                  <i class="pi pi-plus"></i>
                  <p>New folder</p>
                </div>
                <div class="tal-contextmenu-item"
                  (click)="closeAllContextMenus($event); startEditing(folder, subfolder)">
                  <i class="pi pi-pencil"></i>
                  <p>Rename folder</p>
                </div>
                <div class="tal-contextmenu-item"
                  (click)="closeAllContextMenus($event); deleteFolderClick($event, subfolder)">
                  <i class="pi pi-trash"></i>
                  <p>Delete folder</p>
                </div>
              </div>
            </ng-template>
          </p-overlayPanel>

        </div>
        <div class="tal-subfolder">
          <ng-container *ngTemplateOutlet="TalFolder; context: { $implicit: subfolder }"></ng-container>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="newItemFolder === folder">
      <ng-container *ngTemplateOutlet="NewItemTemplate"></ng-container>
    </ng-container>

    <ng-container *ngFor="let file of folder.files">
      <div *ngIf="isVisibile(file)" class="tal-file"
        (contextmenu)="closeAllContextMenus($event); fileOverlayPanel.show($event)" [class.opened]="file===selectedFile">
        <div class="tal-file-title" (click)="closeAllContextMenus($event); selectFile(file)"
          (dblclick)="closeAllContextMenus($event); startEditing(folder, file)">
          <ng-container *ngIf="editingItem!=file;else ItemEditingTemplate">
            <p>{{file.name}}</p>
          </ng-container>
        </div>
        <div class="tal-row-settings" *ngIf="editingItem!=file">
          <div class="tal-row-button" (click)="fileOverlayPanel.show($event)">
            <i class="pi pi-ellipsis-h"></i>
          </div>
        </div>

        <p-overlayPanel #fileOverlayPanel>
          <ng-template pTemplate>
            <div class="tal-contextmenu-container">
              <div class="tal-contextmenu-item" (click)="closeAllContextMenus($event); startEditing(folder, file)">
                <i class="pi pi-pencil"></i>
                <p>Rename file</p>
              </div>
              <div class="tal-contextmenu-item" (click)="closeAllContextMenus($event); deleteFileClick($event, file)">
                <i class="pi pi-trash"></i>
                <p>Delete file</p>
              </div>
            </div>
          </ng-template>
        </p-overlayPanel>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #ItemEditingTemplate>
  <input #nameEditing class="tal-item-input" type="text" [(ngModel)]="editingValue" (blur)="saveEditing()"
    (keyup.enter)="saveEditing()" (keyup.esc)="cancelEditing()" (input)="editItemChange()"
    [class.error]="editingItemError">
</ng-template>

<ng-template #NewItemTemplate>
  <div class="tal-new-item">
    <input #newItemName class="tal-item-input" type="text" [(ngModel)]="newItemValue" (blur)="saveNewItem()"
      (keyup.enter)="saveNewItem()" (keyup.esc)="cancelNewItem()" (input)="newItemChange()"
      [class.error]="newItemError">
  </div>
</ng-template>

<p-confirmDialog key="dialogDelete" acceptLabel="Yes, delete it" acceptIcon="pi pi-trash" rejectLabel="No, keep it">
</p-confirmDialog>


<p-confirmDialog key="dialogImport" acceptLabel="Yes, I'll proceed" acceptIcon="pi pi-file-import" rejectLabel="No, maybe later">
</p-confirmDialog>
