<div class="tal-editor-files-tree">
  <div class="tal-editor-files-header">
    <div class="tal-editor-files-left-bar">
      <button pButton icon="pi pi-file" title="Nuovo file"
        (click)="closeAllContextMenus($event); addNewItem(root, 'file')" pTooltip="Nuovo file"></button>
      <button pButton icon="pi pi-folder" title="Nuova cartella"
        (click)="closeAllContextMenus($event); addNewItem(root, 'folder')" pTooltip="Nuova cartella"></button>
    </div>
    <div class="tal-editor-files-right-bar">
      <button pButton icon="pi pi-sync" title="Refresh" (click)="closeAllContextMenus($event); syncFilesystem(root)"
        pTooltip="Aggiorna"></button>    
    </div>
  </div>


  <div class="tal-editor-files-body">
    <ng-container *ngTemplateOutlet="TalFolder; context: { $implicit: root }"></ng-container>
  </div>


  <div class="tal-editor-files-footer">
    <div class="tal-editor-files-left-bar">
      <button pButton class="p-button p-button-secondary" icon="pi pi-download" title="Esporta"
        (click)="closeAllContextMenus($event); export()" pTooltip="Esporta"></button>
      
      <button pButton class="p-button p-button-secondary" icon="pi pi-upload" title="Upload/Importa"
        (click)="fileUpload.click()" pTooltip="Upload/Import"></button>
      <input #fileUpload type="file" style="display: none;" (change)="upload($event)"/>
    </div>

    <div class="tal-editor-files-right-bar">

      <button pButton icon="pi pi-eye" *ngIf="showHidden" title="Toggle show hidden files"
        (click)="closeAllContextMenus($event); toggleHidden()" pTooltip="Mostra file nascosti"></button>

      <button pButton icon="pi pi-eye-slash" *ngIf="!showHidden" title="Toggle show hidden files"
        (click)="closeAllContextMenus($event); toggleHidden()" pTooltip="Nascondi file nascosti"></button>

      <button pButton icon="pi pi-cog" title="Settings"
        (click)="closeAllContextMenus($event); openSettings()" pTooltip="Settings"></button>
      
    </div>

    
  </div>



</div>

<ng-template #TalFolder let-folder>
  <div class="tal-folder">
    <ng-container *ngFor="let subfolder of folder.folders">
      <div *ngIf="isVisibile(subfolder)" class="tal-folder-subtree">
        <div class="tal-folder-row" (contextmenu)="closeAllContextMenus($event); folderOverlayPanel.show($event)" [class.opened]="subfolder===selectedFolder">
          <div class="tal-folder-title collapse-toggle" (click)="closeAllContextMenus($event); selectFolder(subfolder)"
            (dblclick)="closeAllContextMenus($event); startEditing(folder, subfolder)">
            <i class="pi pi-chevron-down"></i>
            <ng-container *ngIf="editingItem!=subfolder;else ItemEditingTemplate">
              <i class="pi pi-folder"></i>
              <p>{{subfolder.name}}</p>
            </ng-container>
          </div>
          <div class="tal-row-settings" *ngIf="editingItem!=subfolder">
            <div class="tal-row-button" (click)="folderOverlayPanel.show($event)">
              <i class="pi pi-ellipsis-h"></i>
            </div>
          </div>

          <p-overlayPanel #folderOverlayPanel>
            <ng-template pTemplate>
              <div class="tal-contextmenu-container">
                <div class="tal-contextmenu-item" (click)="closeAllContextMenus($event); addNewItem(subfolder, 'file')">
                  <i class="pi pi-plus"></i>
                  <p>Nuovo file</p>
                </div>
                <div class="tal-contextmenu-item"
                  (click)="closeAllContextMenus($event); addNewItem(subfolder, 'folder')">
                  <i class="pi pi-plus"></i>
                  <p>Nuova cartella</p>
                </div>
                <div class="tal-contextmenu-item"
                  (click)="closeAllContextMenus($event); startEditing(folder, subfolder)">
                  <i class="pi pi-pencil"></i>
                  <p>Rinomina cartella</p>
                </div>
                <div class="tal-contextmenu-item"
                  (click)="closeAllContextMenus($event); deleteFolderClick($event, subfolder)">
                  <i class="pi pi-trash"></i>
                  <p>Elimina cartella</p>
                </div>
              </div>
            </ng-template>
          </p-overlayPanel>

        </div>
        <div class="tal-subfolder">
          <ng-container *ngTemplateOutlet="TalFolder; context: { $implicit: subfolder }"></ng-container>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="newItemFolder === folder">
      <ng-container *ngTemplateOutlet="NewItemTemplate"></ng-container>
    </ng-container>

    <ng-container *ngFor="let file of folder.files">
      <div *ngIf="isVisibile(file)" class="tal-file"
        (contextmenu)="closeAllContextMenus($event); fileOverlayPanel.show($event)" [class.opened]="file===selectedFile">
        <div class="tal-file-title" (click)="closeAllContextMenus($event); selectFile(file)"
          (dblclick)="closeAllContextMenus($event); startEditing(folder, file)">
          <ng-container *ngIf="editingItem!=file;else ItemEditingTemplate">
            <p>{{file.name}}</p>
          </ng-container>
        </div>
        <div class="tal-row-settings" *ngIf="editingItem!=file">
          <div class="tal-row-button" (click)="fileOverlayPanel.show($event)">
            <i class="pi pi-ellipsis-h"></i>
          </div>
        </div>

        <p-overlayPanel #fileOverlayPanel>
          <ng-template pTemplate>
            <div class="tal-contextmenu-container">
              <div class="tal-contextmenu-item" (click)="closeAllContextMenus($event); startEditing(folder, file)">
                <i class="pi pi-pencil"></i>
                <p>Rinomina file</p>
              </div>
              <div class="tal-contextmenu-item" (click)="closeAllContextMenus($event); deleteFileClick($event, file)">
                <i class="pi pi-trash"></i>
                <p>Elimina file</p>
              </div>
            </div>
          </ng-template>
        </p-overlayPanel>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #ItemEditingTemplate>
  <input #nameEditing class="tal-item-input" type="text" [(ngModel)]="editingValue" (blur)="saveEditing()"
    (keyup.enter)="saveEditing()" (keyup.esc)="cancelEditing()" (input)="editItemChange()"
    [class.error]="editingItemError">
</ng-template>

<ng-template #NewItemTemplate>
  <div class="tal-new-item">
    <input #newItemName class="tal-item-input" type="text" [(ngModel)]="newItemValue" (blur)="saveNewItem()"
      (keyup.enter)="saveNewItem()" (keyup.esc)="cancelNewItem()" (input)="newItemChange()"
      [class.error]="newItemError">
  </div>
</ng-template>

<p-confirmDialog acceptLabel="Elimina" acceptIcon="pi pi-trash" rejectLabel="Annulla">
</p-confirmDialog>
