<div class="tal-problem-widget" [class.blur]="isBlurred">
  <!-- ROW:title -->
  <!--
  <div class="tal-problem-widget-args-row">
    <div class="tal-problem-widget-label">Problem</div>
  </div>
  -->

  <!-- API: PROBLEMS and SERVICES -->

  <div class="tal-problem-widget-row tal-problem-widget-row-problem">

    <p-dropdown #problemDropdown [placeholder]="url" class="tal-problem-widget-problem-selector"
      scrollHeight="50rem" 
      panelStyleClass="tal-problem-widget-problem-selector-panel" [options]="urlCache" [(ngModel)]="url"
      optionLabel="name" (onChange)="changeURL($event)">

      <ng-template let-url pTemplate="item">
        <div class="url-item">
            <div class="url-item-label">{{url}}</div>
            <!-- <button pButton icon="pi pi-trash" class="tal-square-button" pTooltip="Remove URL" (click)="removeURL(url, $event)"></button> -->
        </div>
      </ng-template>

    </p-dropdown>

    <i #statusDot class="pi pi-circle-fill tal-square-button" pTooltip="Status"></i>

 
</div>



  <div class="tal-problem-widget-row tal-problem-widget-row-problem">
    <p-dropdown #problemDropdown placeholder="Select a problem" class="tal-problem-widget-problem-selector"
      scrollHeight="50rem" [overlayOptions]="dropdownOptions"
      panelStyleClass="tal-problem-widget-problem-selector-panel" [options]="problemsMenu" [(ngModel)]="selectedProblem"
      optionLabel="name" (onChange)="didSelectProblem()">

      <ng-template let-option pTemplate="selectedItem">
        <div class="tal-problem-widget-problem-selected">{{cleanupName(option.name)}}</div>
      </ng-template>

      <ng-template let-option pTemplate="item">
        <div class="tal-problem-widget-problem-item">{{cleanupName(option.name)}}</div>
      </ng-template>

    </p-dropdown>

    <button pButton class="p-button-danger tal-square-button" icon="pi pi-refresh" pTooltip="Refresh"
      (click)="reloadProblemList()" *ngIf="!isLoading()"></button>

    <button pButton class="p-button-danger tal-square-button" icon="pi pi-spin pi-spinner" pTooltip="Refresh" disabled
      *ngIf="isLoading()"></button>
  </div>

  <div class="tal-problem-widget-row tal-problem-widget-row-problem">
    <p-dropdown #serviceDropdown placeholder="Select a service" class="tal-problem-widget-problem-selector"
      scrollHeight="50rem" [overlayOptions]="dropdownOptions"
      panelStyleClass="tal-problem-widget-problem-selector-panel" [options]="servicesMenu" [(ngModel)]="selectedService"
      optionLabel="name" (onChange)="didSelectService()">

      <ng-template let-option pTemplate="selectedItem">
        <div class="tal-problem-widget-problem-selected">{{cleanupName(option.name)}}</div>
      </ng-template>

      <ng-template let-option pTemplate="item">
        <div class="tal-problem-widget-problem-item">{{cleanupName(option.name)}}</div>
      </ng-template>
    </p-dropdown>

    <button pButton class="p-button-help tal-square-button" icon="pi pi-download" (click)="apiDownloadAttachment()"
      pTooltip="Download Attachments"></button>

  </div>

  <div class="tal-problem-widget-args-row">
    <p-tabView>
      <p-tabPanel header="Arguments">

        <!-- ROW:title -->
        <ng-template pTemplate="header" class="tal-problem-widget-args-row">
          <div class="tal-problem-widget-label">Arguments</div>
        </ng-template>


        <!-- API: ARGS -->
        <div class="tal-problem-widget-row tal-problem-widget-args">
          <!-- ROW: empty -->
          <div class="tal-problem-widget-args-row stretch-flex" *ngIf="!selectedArgs || selectedArgs.size==0">
            <div class="tal-problem-widget-args-row-no-params">
              <div>No arguments found.</div>
            </div>
          </div>

          <!-- ROW: arg -->
          <p-scrollPanel class="tal-problem-widget-args-row">
            <div *ngFor="let arg of selectedArgs | keyvalue; ">

              <div class="tal-problem-widget-args-subrow">
                <!-- CELL: info -->
                <div class="tal-problem-widget-args-row-info">
                  <i #argsIcons class="pi pi-info-circle" [id]="'args-icon-'+arg.value.key"
                    (click)="toggleShowRegex(arg.value,$event)" style="cursor: pointer;"
                    [title]="arg.value.regex+''"></i>
                </div>
                <!-- CELL: name -->
                <div class="tal-problem-widget-args-row-name" style="margin-right: 30px;" [title]="arg.value.name">
                  {{arg.value.name}}</div>

                <!-- CELL: field -->
                <div class="tal-problem-widget-args-row-field">
                  <input pInputText class type="text" class="p-inputtext-sm" [(ngModel)]="arg.value.value"
                    [placeholder]="arg.value.default" [title]="arg.value.name +': '+arg.value.regex"
                    (change)="argDidChange(arg.value,$event)" (blur)="argDidChange(arg.value,$event)"
                    (focus)="argDidFocus(arg.value,$event)">
                </div>

                <!-- CELL: reset -->
                <div class="tal-problem-widget-args-row-actions">
                  <button pButton class="p-button-lg" icon="pi pi-delete-left" (click)="argDidReset(arg.value,$event)"
                    title="Reset to default" pTooltip="Reset to default"></button>
                </div>
              </div>
              <!--class="tal-square-button"-->

              <!-- regex -->
              <div class="tal-problem-widget-args-subrow" [id]="'args-regex-panel-'+arg.value.key"
                style="display:none; cursor: pointer;" (dblclick)="toggleRegexFormat(arg.value,$event)">
                <div class="tal-problem-widget-args-subrow-regexpr format-regex-simple"
                  [id]="'args-regex-'+arg.value.key">{{this.clenupRegex(arg.value.regex)}}</div>
              </div>

            </div>
          </p-scrollPanel>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Files">
        <!-- ROW:title -->
        <ng-template pTemplate="header" class="tal-problem-widget-args-row">
          <div class="tal-problem-widget-label">Files</div><!--  -->
        </ng-template>

        <!-- API: ARGS -->
        <p-scrollPanel class="tal-problem-widget-row tal-problem-widget-args">
          <div>
            <!-- ROW: empty -->
            <div class="tal-problem-widget-args-row stretch-flex" *ngIf="!selectedFiles || selectedFiles.size==0">
              <div class="tal-problem-widget-args-row-no-params">
                <div>No files found.</div>
              </div>
            </div>


            <!-- ROW: arg -->
            <div class="tal-problem-widget-args-row" *ngFor="let file of selectedFiles | keyvalue; ">
              <div class="tal-problem-widget-args-subrow">
                <!-- CELL: info -->
                <div class="tal-problem-widget-args-row-info">
                  <i #argsIcons class="pi pi-file"></i>
                </div>
                <!-- CELL: name -->
                <div class="tal-problem-widget-args-row-name">{{file.value.name}}</div>

                <!-- CELL: field -->
                <div class="tal-problem-widget-args-row-field">
                  <p-dropdown placeholder="Select a file" [id]="'file-dropdown-'+file.value.key"
                    (onChange)="fileDidChange(file.value,$event)" [overlayOptions]="dropdownOptions"
                    styleClass="tal-problem-widget-files-dropdown"
                    panelStyleClass="tal-problem-widget-files-dropdown-panel" [options]="filePathList"
                    [(ngModel)]="file.value.value" [showClear]="true">

                    <ng-template pTemplate="selectedItem" let-option>
                      <div class="tal-problem-widget-files-selected">
                        <div>{{option}}</div>
                      </div>
                    </ng-template>


                    <ng-template pTemplate="item" let-option>
                      <div class="tal-problem-widget-files-item">
                        <div>{{option}}</div>
                      </div>
                    </ng-template>


                  </p-dropdown>
                </div>

                <!-- CELL: reset -->
                <!--
                  <div class="tal-problem-widget-args-row-actions">
                      <button pButton class="tal-square-button" icon="pi pi-trash"
                              (click)="fileDidReset(file.value,$event)"
                              title="Reset to default"
                              pTooltip="Reset to default"></button>
                  </div>
                  -->
              </div>
            </div>

          </div>
        </p-scrollPanel>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<p-toast position="bottom-right" key="br"></p-toast>
