.tutorial_card{
    width: 35%;
    top: 100px;
    position: relative;
    align-content: center;
    padding: 50px;
    border: 3px solid #1893e6;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.5);
    z-index: 2;
    background-color: whitesmoke;
}

.close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}
