
<div class="tutorial_card" [ngStyle]="{'display': isVisible ? 'grid' : 'none' }">
  <div>
    <p-button label="Chiudi" class="close" styleClass="p-button-text" (onClick)="closeTutorialButton()" [hidden]="closeHidden"></p-button>
  </div>
    <div>
        <p>{{tutorialText}}</p>
    </div>
    <div>
        <p-button label= {{testo}} (onClick)="nextTutorialButton()"> </p-button>
        <p-button label="Indietro" (onclick)="prevTutorialButton()" [disabled]="backButtonDisabled"></p-button>

    </div>
</div>
