
<div class="tutorial_card" [ngStyle]="{'display': isVisible ? 'grid' : 'none' }">
  <div>
    <p-button icon="pi pi-times" class="close" styleClass="p-button-text" (onClick)="closeTutorialButton()" [hidden]="closeHidden"></p-button>
    <p class="title">{{tutorialTitle}}</p>
  </div>
    <div class="text">
        <p>{{tutorialText}}</p>
    </div>
    <div class="alignButtons">
        <p-button [ngStyle]="{'margin-right':'4px'}"  label= {{testo}} (onClick)="nextTutorialButton()" > </p-button>
        <p-button label="Indietro" (onClick)="prevTutorialButton()" [disabled]="backButtonDisabled"></p-button>
    </div>
</div>
