:host{
    width:100%;
    height: 100%;
}


.tal-monaco-editor{
    width: 100%;
    height: 100%;

    .tal-monaco-editor-ngx{
        display: flex;
        width: 100%;
        height: 100%;
        flex-grow: 1;
    }

}
