div.tal-page-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height:100vh;

    div.tal-page-topbar{
        width:100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        border-bottom:solid 1px var(--surface-border);
        padding: 0;
        margin: 0;
    }
    
    div.tal-page-content {
        width: 100%;
        height: 100%;
        overflow: auto;
        flex:1;
    }   

    
}   