.blur{
  position: absolute;
  background-size: cover;
  position: relative;
  overflow: hidden;
  filter: blur(3px); /* Modifica il valore di blur a tuo piacimento */
  -webkit-backdrop-filter: blur(3px); /* Per i browser basati su WebKit (Chrome, Safari) */
  backdrop-filter: blur(3px);
  /* Blocca il click ai bottoni */
  pointer-events: none;
  /* Permette di bloccare la selezione del testo */
  user-select: none;
}
