@import "../blur.scss";

.blur {
  @extend .blur;
}

:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.tal-brand {
  height: 30px;
  h1 {
    font-size: 25px;
  }
  display: flex;
  position: fixed;
  top : 0;
  left: 0;
  flex-grow: 1;
  //background-color: aqua;
}

.tal-message-box {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-grow: 10;

  .tal-message-box-main {
    width: 100%;
    height: 100%;
    flex-direction: column;

    .tal-message-col {
      width: 100%;
      height: 100%;
      flex-direction: column;
    }

    .tal-message-box-title {
      font-weight: bold;
    }
  }
}

.tal-bar-url {
  //background-color: green;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  position: fixed;
  top : 0;
  right: 35px;
}

::ng-deep {
  .top-bar-url-input {
    .p-autocomplete {
      height: 30px;
    }

    .p-autocomplete-label,
    .p-autocomplete-item {
      height: 30px;
      padding: 5px !important;
      margin: 5px !important;
    }

    // button {
    //   width: 30px;
    //   max-width: 30px;
    // }
  }
}

.top-bar-url-input {
  margin: 5px;
  height: 30px;

  .url-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px !important;

    .tal-square-button {
      width: 16px !important;
      height: 16px !important;
      max-height: 16px !important;
      min-height: 16px !important;
      margin: 0;
      display: none;
      background-color: darkred;
      color: white;
    }
  }

  .url-item:hover {
    .p-button {
      display: flex;
    }
  }
}

.tutorial button {
  /* Stili per il bottone */
  width: auto;
  height: auto;
  padding: 5px;
  margin-left: 10px;
  position: fixed;
  top : 0;
  right: 0;
}

.buttonClose{
  /* Stili per il bottone */
  left:0;
  padding: 0;
  width: 15px !important;
  height: 15px;
  margin-right: 8px;
  color: lightgrey;
  align-items: center;
}

:host ::ng-deep{
  .tabMenu {
    position: fixed; /* Posiziona il p-tabMenu in modo assoluto */
    top: 0px; /* Allinea il p-tabMenu all'inizio del contenitore */
    left: 35px; /* Lascia spazio a sinistra per il bottone */
    //width: calc(100% - 400px); /* Larghezza del p-tabMenu */
    height: auto;
  }

  .tabMenuButton {
    /* Stili per il bottone */
    width: 15px;
    height: 20px;
    padding: 0;
    position: absolute;
    top: 0; /* Allinea il bottone all'inizio del contenitore */
    left: 0; /* Allinea il bottone all'inizio del contenitore */
    //transform: translate(-100%, 10%); /* Sposta il bottone indietro di metà della sua altezza e allinea al 100% a sinistra */
  }
  .buttonClose
  {
    margin-left: 3px;
    width: 20px;
    height: 15px;
    vertical-align: middle;
  }
  .prova {
    border: 3px solid rgba(169, 169, 169, 0.534); /* Aggiunge un bordo grigio */
    outline: 3px solid rgba(169, 169, 169, 0.534);
    border-radius: 5px; /* Arrotonda i bordi */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra leggera */
    margin-right: 2px;
    //background-color: #f9f9f9; /* Colore di sfondo */

  }
  a {
    font-size: auto;
    padding: 0 !important;
    width: auto;
    height: 35px;
  }
}

