<div class="tal-topbar">
    <div class="tal-brand">
        <h1>TALight Desktop</h1>
    </div>

    <div class="tal-buttons">

        <i #statusDot class="pi pi-circle-fill" pTooltip="Status"></i>

        <p-autoComplete #urlInput class="top-bar-url-input p-inputtext-sm"
            (placeholder)="urlCache"  [(ngModel)]="url"
            (change)="changeURL($event)" (onSelect)="changeURL($event)" (onBlur)="changeURL($event)" [suggestions]="urlCache"
            (completeMethod)="filterSuggestions($event)" [dropdown]="true">

            <ng-template let-url pTemplate="item">
                <div class="url-item">
                    <div class="url-item-label">{{url}}</div>
                    <button pButton icon="pi pi-trash" class="tal-square-button" pTooltip="Remove URL" (click)="removeURL(url, $event)"></button>
                </div>
            </ng-template>

        </p-autoComplete>        

        <button pButton icon="pi {{changeThemIcon}}" class="tal-square-button" (click)="toggleTheme()"></button>
    </div>
</div>