<div class="tal-topbar" [class.blur]="isBlurred">
  <div class='tabMenu'>
    <p-tabMenu [model]="items" [activeItem]="activeItem" class="tabmenu">
        <ng-template pTemplate="item" let-item >
            <div class="tal-tab-container" (click)="setCurrentTab(item)">
              {{ item.label }}
              <!-- Ho sostituito il [disabled]="disableDelete" con l'hidden-->
              <button class="buttonClose" type="button" pButton pRipple icon="pi pi-times" (click)="deleteProject(item.id)" *ngIf="!disableDelete"> </button>
            </div>
        </ng-template>
    </p-tabMenu>
  </div>

    <button type="button" icon="pi pi-plus" pButton pRipple pTooltip="Aggiungi una scheda" (click)="addProject()" class="tabMenuButton"></button>

    <div class="tal-message-box">
        <div #messageBox *ngIf="!!currentNotification" class="tal-message-box-main tal-message-box-{{currentNotification.type}}" >
            <div class="tal-message-col">
                <i class="pi {{iconForNotification()}} tal-message-row tal-message-row-icon"></i>
            </div>
            <div class="tal-message-col">
                <div class="tal-message-row tal-message-row-title">{{currentNotification.title}}</div>
                <div class="tal-message-row tal-message-row-message">{{currentNotification.message}}</div>
            </div>
        </div>
    </div>

    <div class="tal-bar-url">

        <i #statusDot class="pi pi-circle-fill" pTooltip="Status" tooltipPosition="left"></i>

        <p-autoComplete #urlInput class="top-bar-url-input p-inputtext-sm"
            (placeholder)="urlCache"  [(ngModel)]="url" pTooltip="Change URL" tooltipPosition="bottom"
            (change)="changeURL($event)" (onSelect)="changeURL($event)" (onBlur)="changeURL($event)" [suggestions]="urlCache"
            (completeMethod)="filterSuggestions($event)" [dropdown]="true">

            <ng-template let-url pTemplate="item">
                <div class="url-item">
                    <div class="url-item-label">{{url}}</div>
                    <button pButton icon="pi pi-trash" class="tal-square-button" pTooltip="Remove URL" (click)="removeURL(url, $event)"></button>
                </div>
            </ng-template>
        </p-autoComplete>

        <button pButton icon="pi {{changeThemIcon}}" class="tal-square-button" pTooltip="Change theme" (click)="toggleTheme()"></button>
    </div>
    <div class='tutorial'>
      <button pButton pTooltip="Mostra il tutorial" (click)="showTutorial()" icon="pi pi-question-circle" *ngIf=isTutorialButtonVisible></button>
    </div>
</div>

