:host{
    display: flex;
    width:100%;
    height:100%;
}

div.tal-topbar{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.tal-brand{
    height: 30px;
    h1{
        font-size: 25px;
    }
}


.tal-buttons{
    height: 30px;
    display: flex;
    align-items: center;
}

::ng-deep {
    .top-bar-url-input{
        .p-autocomplete {
            height: 30px;
        }

        .p-autocomplete-label, .p-autocomplete-item{
            height: 30px;
            padding: 5px!important;
            margin: 5px!important;
        }

        button{
            width: 30px;
            max-width: 30px;
        }
    }
}

.top-bar-url-input{
    margin: 5px;
    height: 30px;


    .url-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:16px !important;

        button{
            width:16px !important;
            height:16px !important;
            max-height:16px !important;
            min-height:16px !important;
            margin: 0;
            display: none;
            background-color: darkred;
            color: white;
        }

        
    }

    .url-item:hover{

        .p-button{
            display: flex;
        }

        
    }


}