@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";



body {
  font-family: var(--font-family);
  background-color: var(--surface-ground);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
    padding: 0;
    margin: 0;
}

html, body{
    width:100%;
    height: 100%;

}

p-terminal {
  width:100%;
  height: 100%;

  .p-terminal {
    width: 100%;
    height: 100%;
  }
}

p-splitter{
  div.p-splitter-panel-nested{
    height: 100%;
    overflow: auto;
  }
}

p-dropdown{
  .p-dropdown{
    width:100%;
  }
}

ngx-monaco-editor{
  height:100% !important;

  div.editor-container{
    height:100% !important;
  }
}



div.tal-center-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 100%;

  p.tal-placeholder-message{
    opacity:0.6;
    font-size:1.2rem;
  }

  h1 {
    margin-bottom: 3rem;
  }

  div.tal-center-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    div.tal-form-input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 1rem;

      label {
        margin-bottom: 0.5rem;
      }

      input {
        width: 500px;
        max-width: 90vw;
      }
    }

    p.tal-error {
      display: flex;
      align-items: center;
      color: var(--red-500);

      i {
        margin-right: 0.5rem;
      }
    }

    button {
      margin-top: 2rem;
      align-self: flex-end;
      
    }
  }
}

div.tal-contextmenu-container{
  display:flex;
  flex-direction:column;

  div.tal-contextmenu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:0.8rem 1rem;
    cursor:pointer;
    
    &:hover{
      background: var(--surface-hover);
    }

    &:active{
      background: var(--surface-active);
    }

    i{
      margin-right:0.5rem;
    }
  }
}

.p-overlaypanel-content{
  padding:0 !important;
}



.tal-square-button{
  height:30px;
  min-height:30px;
  max-height:30px;

  width:30px;
  min-width:30px;
  max-width:30px;
}


::ng-deep .p-dialog-footer button{
  min-width: fit-content;

}