:host{
    width:100%;
    height:100%;
}

.tal-code-editor-execbar{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding:5px;
    width:100%;
    background-color: rgba($color: #000000, $alpha: 0.1);

    .tal-code-editor-execbar-left, .tal-code-editor-execbar-right{
        display: flex;
        button{
            margin-left:5px;
        }
    }

    
}

