:host{
    width:100%;
    height: 100%;
}

.tal-file-editor-switch{
    display: flex;
    width: 100%;
    height:100%;
    flex-direction: column;

    .tal-file-editor-case{
        width: 100%;
        height:100%;
    }

    .tal-file-editor-code{
        display: flex;
        width:100%;
        height:100%;
        
        .tal-file-editor-monaco-widget{
            width:100%;
            height:100%;
        }
    }


    .tal-browser-viewer-iframe, .tal-browser-viewer{
        display: flex;
        width:100%;
        height:100%;
        flex-grow: 1;
        border: none;
    }

    .tal-markdown-preview-content{
        padding: 10px;
        background-color: inherit;
    }
}
